html {
  overflow-y: scroll;
}

:root {
  --dark: #2d2d2d;
}

#root {
  background: var(--dark);
  min-height: 100vh;
  position: relative;
}

.container {
  padding-bottom: 10px;
}

.form-control::placeholder {
  color: #666;
}
