.card-body {
  display: flex;
  justify-content: space-between;
}

.card-body .card-body-left {
  flex: 0.7;
}

.card-body .card-body-right {
  max-width: 60%;
  /* width: 80%;
  min-height: 300px;
  height: 350px; */
  display: flex;
  align-items: center;
}

.option {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.likes-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes-container .likes,
.likes-container .dislikes {
  width: 50%;
}

.likes-container .likes {
  display: flex;
  justify-content: space-evenly;
}

.likes-container .dislikes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

i {
  cursor: pointer;
}
