.card-body {
  display: flex;
  justify-content: space-between;
}

.card-body .card-body-left {
  flex: 0.7;
}

.option {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
