.card-body {
  display: flex;
  justify-content: space-between;
}

.card-body .card-body-left {
  flex: 0.7;
}

.card-body .spinner {
  height: unset;
}

.card-body .card-body-right {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.likes-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes-container .likes,
.likes-container .dislikes {
  width: 50%;
}

.likes-container .likes {
  display: flex;
  justify-content: space-evenly;
}

.likes-container .dislikes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

i {
  cursor: pointer;
}

@media only screen and (max-width: 414px) {
  .card-body .card-body-left {
    flex: 1;
  }

  .likes-container {
    flex-direction: column;
  }

  .likes-container .likes,
  .likes-container .dislikes {
    width: 100%;
    justify-content: space-around;
  }
}
