.nav {
  justify-content: flex-end;
}

.nav .nav-item.dropdown {
  min-width: 110px;
  text-align: center;
}

.nav-tabs .nav-item .nav-link {
  color: #919191;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

.nav-tabs .nav-item .nav-link.dropdown-toggle::after {
  margin-left: 30%;
}

.nav-tabs .nav-item.show .nav-link {
  border-radius: 0;
  background: var(--dark);
  color: var(--primary);
}

.nav-tabs .nav-item.show .dropdown-menu {
  background: var(--dark);
}

.nav-tabs .nav-item.show .dropdown-item {
  cursor: pointer;
  color: var(--primary);
}

.nav-tabs .nav-item.show .dropdown-item:active {
  background: var(--primary);
  color: var(--light);
}
