nav .brand-container {
  display: flex;
  flex-direction: column;
}

nav .input-container {
  position: relative;
}

nav .fa-times {
  cursor: pointer;
  color: var(--danger);
  position: absolute;
  right: 15px;
  top: 20.5px;
}

nav .username {
  color: #fff;
  width: 40%;
}

nav .username span {
  color: var(--primary);
}

nav .logout {
  cursor: pointer;
}
